.chatperson{
  display: block;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 4px;
}
.chatperson:hover{
  text-decoration: none;
  border-bottom: 1px solid orange;
}
.namechat {
    display: inline-block;
    vertical-align: middle;
}
.chatperson .chatimg img{
  width: 40px;
  height: 40px;
}
.chatperson .pname{
  font-size: 18px;
  padding-left: 5px;
}
.chatperson .lastmsg{
  font-size: 12px;
  padding-left: 5px;
  color: #ccc;
}
.limit-item {
    height: 50%;
}
.messageclass{

    padding:3px;
}
.messagedivcls{
    
    height: 37vh;
    padding: 5px;
    overflow-y: scroll;
   
}

.messagedivclspub{

    height: 40vh;
    width:80vh;
    overflow-y: scroll;

}

/* Button used to open the chat form - fixed at the bottom of the page */

.float{

    position:fixed;
    z-index: 100;
    width:30px;
    height:30px;
    bottom:10px;
    right:20px;
    background-color:#2f4a96;
    color:#ffffff;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:9px;
    margin-left: 3px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 10px;
  padding: 6px;
  right: 15px;
  height: 60%;
  /*width: 25%;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  border: 3px solid #f1f1f1;
  z-index: 100;
}

.top-buffer { 
    margin-top:20px; 
}
.sendmessageWrap{

    margin-top: 8px;
    margin-left: 0 !important;
}
.custombt{
    position:fixed;
    bottom:60px;
    right:40px;
}
.outlined{
    outline: 0.5px solid grey;
}
.custominput{

    border: none;
    width: 100%;
    padding: 8px 10px;
    margin-left: 0;
    height: 30px;
}
.custominput:focus{

    outline: none;
    border: none;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.messageSendclass{

    float: right;
    text-align: right;
    padding: 8px;
    background-color: #7790d4;
    border-radius: 4px;
    margin: 8px 0 0 8px;
    clear: right;
    width: 51%;
    word-wrap: break-word;
}
.messagereplyclass{

    float: left;
    padding: 8px;
    background-color: #d9d9d9;
    border-radius: 4px;
    margin: 8px 0 0 8px;
    clear: left;
    width: 51%;
    word-wrap: break-word;
    
}

.buttonStylecus{

    border-radius: 4px;
    /*padding: 10px 40px;*/
}
.buttonStylesendcus{
    border-radius: 4px;
    padding: 6px 19px;
    background-color: #8585ad;
    height: 30px;
    margin-left: 5px;
}
.customReg{
    
}
.vl {
  border-left: 3px solid #7790d4;
  height: 300px;
  margin-left: 118px;
}
.customFormLi{
    color: black;
    border-radius: 3px;
    background-color: lightgrey;
    margin: 0 3px 3px 0;
}
.customFormLi:hover{
    background-color: darkgrey;
}
.customNotification{
    min-width: 350px;
    max-width: 430px;
    white-space: normal;
    margin: 5px;
    text-align: -webkit-left;
    word-wrap: break-word;
    padding: 15px;
    background-color: lightslategrey;
}
.notifiwrap{
    overflow-y: scroll;
    min-width: 300px;
    min-height: 200px;
    margin: 15px;
    height: 38vh;
}
.customnotifiInput{

    margin-left: 20px;
    margin-right: 0 !important;
}
.buttonStylesendcusNot{
    border-radius: 4px;
    padding: 9px 26px;
    background-color: #676786;
    height: 40px;
    margin-left: 30px;
}

/*.chatPerson{
    margin-left: 335px;
}*/
.buttonclosechat{
    background-color: indianred; 
    padding: 5px 14px;
    color: white;
    border: none;
    margin-left: 2px;
}
.buttonclosechat:hover{
    background-color: #990000; 
}
.errormsgchat{

    color: red;
    clear: both;

}

.registeredList{
  overflow: auto !important;
  height: 44vh !important;
}

.chatbox{

}

.chatboxGroup{
  width: 90vh;
  margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messagedivcls::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messagedivcls {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messagedivclspub::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messagedivclspub {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}